body,
html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.code.dark {
  /* Colorscheme */
  --color-purple: #c3a6ff;
  --color-yellow: #ffd580;
  --color-orange: #ffae57;
	--color-lime: #99c55d;
	--color-cyan: #5ccfe6;
	--color-silver: #a2aabc;
	--color-pink: #dc73f1;
	--color-blue: #2190f0;
	--color-blue2: #2Ea3FF;
	--color-gold: #EFE24D;
	--color-purple2: #9066ce;
	--color-white: #cfe3ef;
	--color-red: #ef6b73;
	--color-red2: #cf2a2c;
	--color-green: #4aaa45;

  --color-bg: #1a253d;
	--color-sidebar: #171c28;
	--color-float: var(--color-sidebar);
	--color-black: #070c18;
	--color-fg: #b2bacc;
	--color-text: #8695aa;
	--color-comments: #616d86;
	--color-selection: #2f3b54;
	--color-contrast: var(--color-sidebar);
	--color-border: #515772;
	--color-line_numbers: var(--color-border);
	--color-highlight: var(--color-selection);
	--color-disabled: var(--color-comments);
	--color-cursor: var(--color-pink);
	--color-accent: var(--color-yellow);
	--color-error: #cf3a3c;
	--color-warning: #EFE24D;
	--color-info: #5ccfe6;
	--color-link: #2e96ff;

  --font-style-comments: italic;
  --font-style-functions: normal;
  --font-style-keywords: italic;
  --font-style-variables: normal;
  --font-style-strings: italic;
  --font-style-types: italic;
  --font-style-function_call: italic;
  --font-style-builtins: italic;

  --font-weight-regular: 500;
  --font-weight-bold: 700;
}
.code.light {
  /* Colorscheme */
  --color-purple: #9a40b3;
  --color-yellow: #907002;
  --color-orange: #bf4030;
  --color-lime: #339425;
  --color-cyan: #007ac5;
  --color-silver: #a2aabc;
  --color-pink: #bc42ba;
  --color-blue: #0010b5;
  --color-blue2: #2590EC;
  --color-gold: #c98005;
  --color-purple2: #6f1f7f;
  --color-white: #171c28;
  --color-red: #cf2a2c;
  --color-red2: #cf2a2c;
  --color-green: #4aaa45;

  --color-bg: #d7dff5;
  --color-sidebar: #c9d4ea;
  --color-float: var(--color-sidebar);
  --color-black: #cad9ed;
  --color-fg: #223949;
  --color-text: #223949;
  --color-comments: #818da6;
  --color-selection: #b2bacc;
  --color-contrast: #d2daf8;
  --color-border: #515772;
  --color-line_numbers: #a1add6;
  --color-highlight: #c7cfe5;
  --color-disabled: #818da6;
  --color-cursor: #a19bb5;
  --color-accent: #b29328;
  --color-error: #cf2a2c;
  --color-warning: #cfa03a;
  --color-info: #0070c3;
  --color-link: #002fc0;

  --font-style-comments: italic;
  --font-style-functions: normal;
  --font-style-keywords: italic;
  --font-style-variables: normal;
  --font-style-strings: italic;
  --font-style-types: italic;
  --font-style-function_call: italic;
  --font-style-builtins: italic;

  --font-weight-regular: 500;
  --font-weight-bold: 700;
}
.code.disable-bold {
  --font-weight-bold: var(--font-weight-regular);
}
.code {
  white-space: nowrap;
  display: block;
  width: 100%;
  background-color: var(--color-bg);
  padding: 1em;

  /* Font */
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 1.7;
}
.code p {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}
.code.rainbow-brackets .l1, .code.rainbow-brackets .l4 { color: var(--color-blue2); }
.code.rainbow-brackets .l2, .code.rainbow-brackets .l5 { color: var(--color-pink); }
.code.rainbow-brackets .l3, .code.rainbow-brackets .l6 { color: var(--color-gold); }


.container {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.syntax {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
.code .keyword {
  color: var(--color-purple);
  font-style: var(--font-style-keywords);
}
.code .keyword.import {
  color: var(--color-purple2);
}
.code .punctuation {
  color: var(--color-blue);
  font-weight: var(--font-weight-bold);
}
.code .variable {
  color: var(--color-cyan);
}
.code .string {
  color: var(--color-lime);
  font-style: var(--font-style-strings);
}
.code .comment {
  color: var(--color-comments);
  font-style: var(--font-style-comments);
}
.code .operator {
  color: var(--color-orange);
  font-weight: var(--font-weight-bold);
}
.code .property {
  color: var(--color-blue);
}
.code .type {
  color: var(--color-blue);
  text-decoration: underline;
  font-style: var(--font-style-types);
}
.code .constant.builtin {
  color: var(--color-purple);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-style: normal;
}
.code .type.builtin {
  color: var(--color-yellow);
  text-decoration: none;
  font-style: normal;
}
.code .variable.declaration {
  color: var(--color-fg);
}
.code .declaration {
  font-weight: var(--font-weight-bold);
  color: var(--color-fg);
}
.code .member {
  color: var(--color-fg);
}
.code .comment.jsdoc {
  color: var(--color-cyan);
}
.code .function {
  color: var(--color-yellow);
}
.code .function.declaration {
  text-decoration: underline;
}
.code .type.parameter {
  color: var(--color-pink);
}
.code .function.call {
  font-style: var(--font-style-function_call);
  text-decoration: underline;
}
.code .function.argument {
  color: var(--color-cyan);
}
.code .class.builtin {
  color: var(--color-purple);
  font-style: var(--font-style-builtins);
}
.code .number {
  color: var(--color-purple);
  font-weight: var(--font-weight-bold);
}
.code .boolean {
  color: var(--color-purple);
  font-weight: var(--font-weight-bold);
}
.code .diagnostics-unused > span {
  color: var(--color-comments);
  margin: 0;
}
.code .diagnostics-warning {
  text-decoration: underline;
  text-decoration-color: var(--color-warning);
  text-decoration-style: wavy;
}


/*
 * Line numbers
 */
.code .current-line {
  background-color: var(--color-highlight);
  counter-set: loc 1;
}
.code .cursor {
  background-color: var(--color-cursor);
  display: inline-block;
  width: 0.6em;
  margin-left: -0.1em;
  animation: blink 1s infinite;
  border: 1px solid var(--color-cursor);
}
@keyframes blink {
  0% { background-color: var(--color-cursor); }
  50% { background-color: transparent; }
  100% { background-color: var(--color-cursor); }
}
.code {
  counter-reset: loc;
  counter-set: loc 11;
}
.code > p::before {
  display: inline-block;
  width: 3rem;
  counter-increment: loc -1;
  content: counter(loc);
  text-align: right;
  padding-right: 0.5em;
  margin-right: 1em;
  color: var(--color-line_numbers);
  border-right: 1px solid var(--color-border);
}
.code > p.current-line::before {
  content: "124";
  color: var(--color-fg);
}
.code > p.current-line ~ p::before {
  counter-increment: loc 1;
}
.code .indent-guide {
  width: 0px;
  border-left: 1px solid var(--color-border);
  display: inline-block;
  height: 100%;
}
