body,
html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.code.dark {
  /* Colorscheme */
  --color-purple: @@H_DARK_PURPLE@@;
  --color-yellow: @@H_DARK_YELLOW@@;
  --color-orange: @@H_DARK_ORANGE@@;
	--color-lime: @@H_DARK_LIME@@;
	--color-cyan: @@H_DARK_CYAN@@;
	--color-silver: @@H_DARK_SILVER@@;
	--color-pink: @@H_DARK_PINK@@;
	--color-blue: @@H_DARK_BLUE@@;
	--color-blue2: @@H_DARK_BLUE2@@;
	--color-gold: @@H_DARK_GOLD@@;
	--color-purple2: @@H_DARK_PURPLE2@@;
	--color-white: @@H_DARK_WHITE@@;
	--color-red: @@H_DARK_RED@@;
	--color-red2: @@H_DARK_RED2@@;
	--color-green: @@H_DARK_GREEN@@;

  --color-bg: @@H_DARK_BG@@;
	--color-sidebar: @@H_DARK_SIDEBAR@@;
	--color-float: var(--color-sidebar);
	--color-black: @@H_DARK_BLACK@@;
	--color-fg: @@H_DARK_FG@@;
	--color-text: @@H_DARK_TEXT@@;
	--color-comments: @@H_DARK_COMMENTS@@;
	--color-selection: @@H_DARK_SELECTION@@;
	--color-contrast: var(--color-sidebar);
	--color-border: @@H_DARK_BORDER@@;
	--color-line_numbers: var(--color-border);
	--color-highlight: var(--color-selection);
	--color-disabled: var(--color-comments);
	--color-cursor: var(--color-pink);
	--color-accent: var(--color-yellow);
	--color-error: @@H_DARK_ERROR@@;
	--color-warning: @@H_DARK_WARNING@@;
	--color-info: @@H_DARK_CYAN@@;
	--color-link: @@H_DARK_LINK@@;

  --font-style-comments: italic;
  --font-style-functions: normal;
  --font-style-keywords: italic;
  --font-style-variables: normal;
  --font-style-strings: italic;
  --font-style-types: italic;
  --font-style-function_call: italic;
  --font-style-builtins: italic;

  --font-weight-regular: 500;
  --font-weight-bold: 700;
}
.code.light {
  /* Colorscheme */
  --color-purple: @@H_LIGHT_PURPLE@@;
  --color-yellow: @@H_LIGHT_YELLOW@@;
  --color-orange: @@H_LIGHT_ORANGE@@;
  --color-lime: @@H_LIGHT_LIME@@;
  --color-cyan: @@H_LIGHT_CYAN@@;
  --color-silver: @@H_LIGHT_SILVER@@;
  --color-pink: @@H_LIGHT_PINK@@;
  --color-blue: @@H_LIGHT_BLUE@@;
  --color-blue2: @@H_LIGHT_BLUE2@@;
  --color-gold: @@H_LIGHT_GOLD@@;
  --color-purple2: @@H_LIGHT_PURPLE2@@;
  --color-white: @@H_LIGHT_WHITE@@;
  --color-red: @@H_LIGHT_RED@@;
  --color-red2: @@H_LIGHT_RED2@@;
  --color-green: @@H_LIGHT_GREEN@@;

  --color-bg: @@H_LIGHT_BG@@;
  --color-sidebar: @@H_LIGHT_SIDEBAR@@;
  --color-float: var(--color-sidebar);
  --color-black: @@H_LIGHT_BLACK@@;
  --color-fg: @@H_LIGHT_FG@@;
  --color-text: @@H_LIGHT_TEXT@@;
  --color-comments: @@H_LIGHT_COMMENTS@@;
  --color-selection: @@H_LIGHT_SELECTION@@;
  --color-contrast: @@H_LIGHT_CONTRAST@@;
  --color-border: @@H_LIGHT_BORDER@@;
  --color-line_numbers: @@H_LIGHT_LINE_NUMBERS@@;
  --color-highlight: @@H_LIGHT_HIGHLIGHT@@;
  --color-disabled: @@H_LIGHT_DISABLED@@;
  --color-cursor: @@H_LIGHT_CURSOR@@;
  --color-accent: @@H_LIGHT_ACCENT@@;
  --color-error: @@H_LIGHT_ERROR@@;
  --color-warning: @@H_LIGHT_WARNING@@;
  --color-info: @@H_LIGHT_INFO@@;
  --color-link: @@H_LIGHT_LINK@@;

  --font-style-comments: italic;
  --font-style-functions: normal;
  --font-style-keywords: italic;
  --font-style-variables: normal;
  --font-style-strings: italic;
  --font-style-types: italic;
  --font-style-function_call: italic;
  --font-style-builtins: italic;

  --font-weight-regular: 500;
  --font-weight-bold: 700;
}
.code.disable-bold {
  --font-weight-bold: var(--font-weight-regular);
}
.code {
  white-space: nowrap;
  display: block;
  width: 100%;
  background-color: var(--color-bg);
  padding: 1em;

  /* Font */
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 1.7;
}
.code p {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}
.code.rainbow-brackets .l1, .code.rainbow-brackets .l4 { color: var(--color-blue2); }
.code.rainbow-brackets .l2, .code.rainbow-brackets .l5 { color: var(--color-pink); }
.code.rainbow-brackets .l3, .code.rainbow-brackets .l6 { color: var(--color-gold); }


.container {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.syntax {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
.code .keyword {
  color: var(--color-purple);
  font-style: var(--font-style-keywords);
}
.code .keyword.import {
  color: var(--color-purple2);
}
.code .punctuation {
  color: var(--color-blue);
  font-weight: var(--font-weight-bold);
}
.code .variable {
  color: var(--color-cyan);
}
.code .string {
  color: var(--color-lime);
  font-style: var(--font-style-strings);
}
.code .comment {
  color: var(--color-comments);
  font-style: var(--font-style-comments);
}
.code .operator {
  color: var(--color-orange);
  font-weight: var(--font-weight-bold);
}
.code .property {
  color: var(--color-blue);
}
.code .type {
  color: var(--color-blue);
  text-decoration: underline;
  font-style: var(--font-style-types);
}
.code .constant.builtin {
  color: var(--color-purple);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-style: normal;
}
.code .type.builtin {
  color: var(--color-yellow);
  text-decoration: none;
  font-style: normal;
}
.code .variable.declaration {
  color: var(--color-fg);
}
.code .declaration {
  font-weight: var(--font-weight-bold);
  color: var(--color-fg);
}
.code .member {
  color: var(--color-fg);
}
.code .comment.jsdoc {
  color: var(--color-cyan);
}
.code .function {
  color: var(--color-yellow);
}
.code .function.declaration {
  text-decoration: underline;
}
.code .type.parameter {
  color: var(--color-pink);
}
.code .function.call {
  font-style: var(--font-style-function_call);
  text-decoration: underline;
}
.code .function.argument {
  color: var(--color-cyan);
}
.code .class.builtin {
  color: var(--color-purple);
  font-style: var(--font-style-builtins);
}
.code .number {
  color: var(--color-purple);
  font-weight: var(--font-weight-bold);
}
.code .boolean {
  color: var(--color-purple);
  font-weight: var(--font-weight-bold);
}
.code .diagnostics-unused > span {
  color: var(--color-comments);
  margin: 0;
}
.code .diagnostics-warning {
  text-decoration: underline;
  text-decoration-color: var(--color-warning);
  text-decoration-style: wavy;
}


/*
 * Line numbers
 */
.code .current-line {
  background-color: var(--color-highlight);
  counter-set: loc 1;
}
.code .cursor {
  background-color: var(--color-cursor);
  display: inline-block;
  width: 0.6em;
  margin-left: -0.1em;
  animation: blink 1s infinite;
  border: 1px solid var(--color-cursor);
}
@keyframes blink {
  0% { background-color: var(--color-cursor); }
  50% { background-color: transparent; }
  100% { background-color: var(--color-cursor); }
}
.code {
  counter-reset: loc;
  counter-set: loc 11;
}
.code > p::before {
  display: inline-block;
  width: 3rem;
  counter-increment: loc -1;
  content: counter(loc);
  text-align: right;
  padding-right: 0.5em;
  margin-right: 1em;
  color: var(--color-line_numbers);
  border-right: 1px solid var(--color-border);
}
.code > p.current-line::before {
  content: "124";
  color: var(--color-fg);
}
.code > p.current-line ~ p::before {
  counter-increment: loc 1;
}
.code .indent-guide {
  width: 0px;
  border-left: 1px solid var(--color-border);
  display: inline-block;
  height: 100%;
}